<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="6dof_robot">

  <xacro:macro name="schunk_lwa4p_mock_hardware" params="name use_gazebo:=^|false use_mock_hardware:=^|true mock_sensor_commands:=^|false ">

    <ros2_control name="${name}" type="system">

      <xacro:if value="${use_gazebo}">
        <hardware>
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="${use_gazebo}">
        <hardware>
          <xacro:if value="${use_mock_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
            <param name="mock_sensor_commands">${mock_sensor_commands}</param>
            <param name="state_following_offset">0.0</param>
          </xacro:if>
        </hardware>
      </xacro:unless>

      <joint name="${name}_1_joint">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${name}_2_joint">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${name}_3_joint">
        <command_interface name="position">
          <param name="min">-2.69</param>
          <param name="max">2.69</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${name}_4_joint">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${name}_5_joint">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
      <joint name="${name}_6_joint">
        <command_interface name="position">
          <param name="min">-2.95</param>
          <param name="max">2.95</param>
        </command_interface>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>